@model List<FoodyTekmerEntityLayer.Concrete.Product>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Ürün Listesi</h2>

<div class="container">
    
    

    <table class="table table-bordered">
        <tr class="text-center">
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Eski Fiyat</th>
            <th>Yeni Fiyat</th>
            <th>Aktiflik</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td>@item.OldPrice</td>
                <td>@item.NewPrice</td>
                <td>

                    @if (@item.Status==true)
                    {
                        <span class="bg-success p-2 text-white">Aktif</span>
                    }
                    else
                    {
                        <span class="bg-danger p-2 text-white">Pasif</span>
                    }

                </td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }


    </table>
    <a href="/Category/CreateCategory" class="btn btn-primary">Yeni Ürün Girişi</a>

</div>
